.expense-date {
  display: flex;
  flex-direction: column;
  width: 5.5rem;
  height: 5.5rem;
  border: 1px solid rgb(94, 212, 25);
  background-color: rgb(82, 51, 83);
  color: white;
  border-radius: 12px;
  align-items: center;
  justify-content: center;
}

.expense-date__month {
  font-size: 0.75rem;
  font-weight: bold;
  padding: 3px;
}
.expense-date__year {
  font-size: 1rem;
  padding: 3px;
}

.expense-date__day {
  font-size: 1.1rem;
  font-weight: bold;
  padding: 3px;
}
