@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: bold;
}

header {
  height: 100vh;
  width: 100%;
}

/* __________________________________________side-navbar__________________________ */

.side-navbar i {
  margin-left: 45px;
  font-size: xx-large;
  margin-bottom: 125px;
  margin-top: 35px;
  animation: slide-in 1s ease-out;
  animation-delay: 0.5s;
}

@keyframes slide-in {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.disign a {
  position: relative;
  top: 57rem;
  right: 47%;
  display: block;
  transform: rotate(90deg);
  margin-bottom: 80px;
  font-size: x-large;
  color: black;
  transition: all 0.5s ease;
  animation: rotate-in 1s ease-out;
  animation-delay: 1s;
}

@keyframes rotate-in {
  0% {
    transform: rotate(0deg) scale(0);
    opacity: 0;
  }

  100% {
    transform: rotate(90deg) scale(1);
    opacity: 1;
  }
}

/* _______________________________________top-navbar_______________________________________ */

.top-navbar {
  position: absolute;
  top: 1rem;
  right: 3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  animation: fade-nav 1s ease-out;
}

@keyframes fade-nav {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.top-navbar::after {
  content: "";
  height: 10px;
  width: 10px;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  right: 1px;
  top: 4px;
  animation: bindu 2s infinite;
}

@keyframes bindu {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1);
  }
}

.top-navbar .top a {
  color: #000;
  font-size: 1.2rem;
  margin-right: 2rem;
  margin-bottom: 20px;
  animation: slide-in-right1 1s ease-out;
  transition: all 0.5s ease;
}

.disign a:hover,
.top a:hover {
  text-shadow: 0 0 10px red;
}

@keyframes slide-in-right1 {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.top-navbar .top a:first-child {
  color: #ff0000;
}

.icons a {
  font-size: 2rem;
  color: black;
  margin: 10px;
  animation: bounce1 1s ease-out infinite;
}

@keyframes bounce1 {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10%);
  }
}

.icons img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: relative;
  top: 5px;
}

/* _____________________________________food_____________________________________________ */

.food {
  display: flex;
  align-items: center;
  justify-content: space-around;
  animation: slide-in-left1 1s ease-out;
}

@keyframes slide-in-left1 {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.order {
  position: absolute;
  top: 15rem;
  font-size: 1.2rem;
  animation: fade-in1 1s ease-out;
}

@keyframes fade-in1 {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.order h1 {
  font-size: 5rem;
  position: relative;
  width: 48%;
  margin-left: 60%;
  text-shadow: 0 0 32px red;
  animation: text-flicker 2s linear infinite;
}

@keyframes text-flicker {
  0% {
    text-shadow: 0 0 32px red;
  }

  50% {
    text-shadow: 0 0 64px red;
  }

  100% {
    text-shadow: 0 0 32px red;
  }
}

.order p {
  font-size: 1.1rem;
  position: relative;
  margin-left: 50%;
  width: 40%;
  text-align: justify;
  top: 10px;
  bottom: 10px;
  animation: slide-in-right 2s linear infinite;
}

@keyframes slide-in-right {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.order a {
  color: white;
  font-size: 1.8rem;
  position: relative;
  left: 91px;
  top: 22px;
  border: 2px solid black;
  background-color: black;
  padding: 6px;
  animation: pulse1 1s infinite;
}

@keyframes pulse1 {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.anker {
  color: red;
  position: relative;
  left: -77px;
  top: 22px;
  font-size: 2.1rem;
  margin-right: 27px;
  margin-left: 60%;
  animation: rotate1 2s linear infinite;
}

.fa-sun:before {
  margin: 10px;
  margin-left: 2px;
}

@keyframes rotate1 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.sp {
  position: absolute;
  left: 53%;
  top: 14rem;
  font-size: 14px;
  animation: bounce2 1s infinite;
}

@keyframes bounce2 {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10%);
  }
}

.foodbar {
  position: absolute;
  top: 0;
  left: 13rem;
  background-color: rgb(47, 45, 45);
  width: 17%;
  height: 55vh;
  animation: slide-in-left2 1s ease-out;
}

@keyframes slide-in-left2 {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.foodbar img {
  position: relative;
  top: 2rem;
  left: -1.5rem;
  width: 370px;
  border-radius: 50%;
  height: 370px;
  animation: slide-in-left2 1s ease-out;
  filter: drop-shadow(0px 0px 24px black);
  animation: zoom-in 1s ease-out;
}

@keyframes zoom-in {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.foodbar span {
  position: relative;
  color: white;
  left: 6rem;
  font-weight: normal;
  font-size: 3rem;
  animation: fade-in1 1s ease-out;
}

@keyframes fade-in1 {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* ________________________________________footer________________________________________________ */

.footer {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  position: absolute;
  width: 58%;
  left: 39rem;
  top: 39rem;
  animation: slide-in-bootom 1s ease-out;
}

@keyframes slide-in-bootom {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.images {
  width: 156px;
  height: 23vh;
  text-align: center;
  background-color: rgb(47, 45, 45);
  border-radius: 10px;
  animation: fade-in2 1s ease-out;
  box-shadow: 12px 14px 58px black;
}

.images img {
  position: absolute;
  width: 13%;
  top: -5rem;
  border-radius: 50px;
  animation: bounce3 1s infinite;
}

@keyframes bounce3 {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10%);
  }
}

.images span {
  position: relative;
  top: 3rem;
  right: 35px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  animation: slide-in-right 1s ease-out;
}

@keyframes slide-in-right {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.images p {
  position: relative;
  top: 5rem;
  color: white;
  margin: -19px 0;
  font-size: 14px;
  animation: fade-in2 1s ease-out;
}

.rating {
  color: gold;
  margin-top: 106px;
  animation: scale-in 1s ease-out;
}

@keyframes scale-in {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.rating .fa-regular {
  color: #ccc;
}

.images a {
  display: inline-block;
  background-color: #3e3b3b;
  color: #fff;
  padding: 8px 12px;
  border-radius: 4px;
  text-decoration: none;
  transition: background-color 0.3s;
  animation: pulse2 1s infinite;
}

@keyframes pulse2 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.1);
  }
}

.images:hover {
  background-color: #555;
}

/* ________________________________________social__________________________________ */

.social {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
}

.social a {
  color: #333;
  margin: 0 10px;
  transition: color 0.3s;
  font-size: 2rem;
  border-radius: 50%;
}

.social a:hover {
  color: #666;
  animation: socials 1s infinite;
}

@keyframes socials {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }
}

.social .fa-instagram:hover {
  color: #e1306c;
}

.social .fa-github:hover {
  color: #ff0000;
}

.social .fa-linkedin:hover {
  color: #0077b5;
}

.social .fa-google:hover {
  color: #db4437;
}

.social .fa-facebook:hover {
  color: #3b5998;
}

.item-img {
  transition: outline 0.3s ease-out;
  outline: 4px solid transparent;
}

/* ___________________________________toggle button style________________________________ */

.theme-switch {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.theme-switch-checkbox {
  display: none;
}

.theme-switch-label {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.theme-switch-label i {
  margin-right: 5px;
}

/* _________________________________Dark mode style________________________________________ */
body .dark-mode {
  background-color: #fff;
  color: #222;
}

.dark-mode .top-navbar,
.dark-mode .side-navbar,
.dark-mode .food,
.dark-mode .footer,
.dark-mode .social {
  background-color: #333;
  color: white;
}

.dark-mode .top-navbar a,
.dark-mode .side-navbar a,
.dark-mode .food h1,
.dark-mode .food p,
.dark-mode .footer p,
.dark-mode .sp {
  color: white;
}

.dark-mode header {
  background-color: rgb(26, 25, 25);
  color: white;
}

.dark-mode .anker {
  color: #ff0000;
}

.dark-mode .social a i {
  color: white;
}

.dark-mode .social a i:hover {
  color: #ccc;
}

/* .dark-mode .social a {
  background-color: #444;
}

.dark-mode .social a:hover {
  background-color: #555;
} */

.dark-mode .social .fa-instagram:hover {
  color: #e1306c;
}

.dark-mode .social .fa-github:hover {
  color: #ff8176;
}

.dark-mode .social .fa-linkedin:hover {
  color: #0077b5;
}

.dark-mode .social .fa-google:hover {
  color: #db4437;
}

.dark-mode .social .fa-facebook:hover {
  color: #045cb5;
}
